$dark-blue: #082946;
$light-blue: #4F9FE6;
$light-light: lighten($light-blue, 5%);
$light-dark: darken($light-blue, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$white: #fff;

$lg-font: 3em;
$md-font: 2em;
$sm-font: .8em;

$line-space: 2em;
$line-height: 2em;

$main-font: 'Rubik', sans-serif;
$sec-font: 'Karla', sans-serif;


*, *:before, *:after {
    box-sizing: border-box;
}


body {
    width: 100%;
    background: url(../img/claudio-schwarz-purzlbaum-j3cRb9nZ7vE-unsplash.jpg) center no-repeat;
    background-size: cover;
    font-family: $sec-font;
    position: absolute;
    overflow: hidden;                                                                                                                                                                                                                                                                       
}

div {
    width: 100%;
}

h1 {
    font-family: $main-font;
    font-size: $lg-font;
    text-align: center;
    margin: 0 0 40px;
}

a {
    text-decoration: none;
    color: $light-blue;
    transition: .5s ease;
    &:hover {
        color: $light-dark;
    }
}


.side-bar {
    // background-color: $white;
    position: relative;
    width: 45%;
    height: 100vh;
    float: right;
    margin-top: -0.5%;
}

// Sign up and Login buttons

.tab-group {
    border: 1px solid red;
    padding: 0;
    //margin: 0 0 40px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        display: inline-block;
        width: 50%;
        float: left;
        margin: 0 -15% 0 0;
    }
    
    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba($gray-light, .25);
        color: $gray-light;
        font-size: 20px;
        float: auto;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
        &:hover {
            background: $light-dark;
            color: white;
        }
    }

    .active a {
        background: $light-blue;
        color: $white;
    }
}

/////////////// Input Fields///////////////////

.tab-content{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    // background: #525252;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
}

    ////////////// Login form is hidden /////////////

    .tab-content > div:last-child {
        display: none;
    }

    label {
        position: absolute;
        transform: translateY(6px);
        left: 40px;
        color: rgba($light-blue, .5);
        transition: all 0.25s ease;
        backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
        .req {
            margin: 2px;
            color: $light-blue;
        }
    }

    label.active {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        .req {
            opacity: 0;
        }
    }

    label.highlight {
        color:$light-dark;
    }

    input, textarea {
        font-size: 22px;
        display: block;
        width: 90%;
        height: 5%;
        padding:5px 10px;
        margin: 0 0 0 5%;
        background:none;
        background-image:none;
        border: 2px solid $gray-light;
        color:$white;
        border-radius: 2px;
        transition:border-color .25s ease, box-shadow .25s ease;
        &:focus {
		    outline:0;
		    border-color:$light-blue;
        }
    }

    // textarea {
    //     border: 20px solid $gray-light;
    //     resize: vertical;
    // }

    #signup {
        width: 100%;
        text-align: center;
        padding: 15px 0 15px 0;
    }

    .field-wrap {
        position:relative;
        margin-bottom:30px;
    }
    
    .top-row {
        padding-top: 15px;
        display: inline-block;
        margin: 0 0 0 2.7%;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        
        > div {
            float:left;
            width:45%;
            margin-right:4%;
            &:last-child { 
            margin: 0;
            }
        }
    }

//     .button {
//         border:0;
//         outline:none;
//         border-radius:0;
//         padding:15px 0;
//         font-size:2rem;
//         text-transform:uppercase;
//         letter-spacing:.1em;
//         background: $light-blue;
//         color:$white;
//         transition:all.5s ease;
//         -webkit-appearance: none;
//     &:hover, &:focus {
//         background:$light-dark;
//     }
//     }

//     .button-block {
//         display:block;
//         width:100%;
//     }

//     .forgot {
//         margin-top:-20px;
//         text-align:right;
//     }